@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');

@layer utilities {
  .text-shadow {
    text-shadow: 0 0 6px #06d1af;
  }
  .h-def {
    min-height: 42rem;
  }
  .min-h-dev{
    min-height: 10rem;
  }
  .min-h-info{
    min-height: 34rem;
  }
  .min-h-foot{
    min-height: 5rem;
  }
  .min-w-td-top10{
    min-width: 6rem;
  }
 
}
@font-face {
  font-family: "netron";
  src: url("../public/fonts/netron.ttf");
}