@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');

@layer utilities {
  .text-shadow {
    text-shadow: 0 0 6px #06d1af;
  }
  .h-def {
    min-height: 38rem;
  }
  .min-h-dev{
    min-height: 10rem;
  }
  .min-h-info{
    min-height: 34rem;
  }
  .min-h-foot{
    min-height: 5rem;
  }
  .min-w-td-top10{
    min-width: 6rem;
  }
  .green-shadow{
    text-shadow: 1px 1px 4px rgba(172, 255, 47, 0.472);
  }
  .red-shadow{
    text-shadow: 1px 1px 4px rgba(242, 7, 7, 0.472);
  }
  .gradient-info {
    background: radial-gradient(circle, hsla(170, 94%, 42%, 1) 0%, hsla(0, 0%, 18%, 1) 60%);
  }

  .navbar-menu {
    animation-name: slide-down;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
}

.navbar-menu-closed {
    animation-name: slide-up;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
}

@keyframes slide-down {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slide-up {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        display:none;
    }
}
}
