@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');

@layer utilities {
  .text-shadow {
    text-shadow: 0 0 6px #06d1af;
  }
  .h-def {
    min-height: 50rem;
  }
  .min-h-dev{
    min-height: 10rem;
  }
  .min-h-info{
    min-height: 34rem;
  }
  .min-h-foot{
    min-height: 5rem;
  }
  .min-w-td-top10{
    min-width: 6rem;
  }
  .shadow{
    box-shadow: 0px 1px 6px rgba(209, 249, 252, 0.9);
  }
  .gradient-info {
    background: radial-gradient(circle, hsla(170, 94%, 42%, 1) 0%, hsla(0, 0%, 18%, 1) 60%);
  }
}